[Unit]

Description=CH2O monitor Service
After=network.target

[Service]

User=xxxx
ExecStart=python /home/xxxx/ch2o/ch2o.py
Restart=always
WorkingDirectory=/home/xxxx

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=ch2o_service

[Install]

WantedBy=multi-user.target